.wrapper {
	display: flex;
	flex-direction: column;
	gap: 11px;
	padding: 10px 35px;

	p {
		font-size: 35px;
		line-height: 1.2;
		font-weight: 500;
	}
}

.innerWrap {
	display: flex;
	gap: 50px;

	select {
		width: 120px;
	}
}
