.header {
  position: fixed;
  width: 100%;
  z-index: 3;
  border-bottom: 1px solid #eaeaea;
  background-color: #ffffff;
}

.container {
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: space-between;
  gap: 30px;
}

.logo {
  flex: 0 0 auto;
  font-size: 35px;
  font-weight: 800;
  line-height: 1.2;

  @media (max-width: 767.98px) {
    font-size: 20px;
  }
}

.btns {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;

  .searchIcon {
    &:hover {
      color: #2eb6ff;
    }
    @media (min-width: 767.98px) {
      display: none;
    }
    &:active {
      color: #1189c9;
    }
  }

  .history {
    font-size: 15px;
  }

  .heart {
    font-size: 14px;
  }

  .user {
    font-size: 16px;
  }
}
.user,
.heart,
.history {
  &:hover {
    color: #2eb6ff;
  }
  &:active {
    color: #1189c9;
  }
}
