.search {
  width: 100%;
  padding: 67px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 10px;

  input {
    width: 100%;
    max-width: 1170px;
    background-color: #ffffff;
  }

  .results {
    display: flex;
    width: 100%;
    max-width: 1170px;
    gap: 10px;

    .colors-column {
      flex: 3;

      .colors {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 5px;
      }
    }

    .schemes-column {
      flex: 7;

      .schemes {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .scheme {
          display: flex;
          flex-wrap: wrap;
          padding: 5px;
          background-color: #ffffff;

          .color {
            width: 105px;
            height: 105px;
          }
        }
      }
    }

    .colors-column,
    .schemes-column {
      display: flex;
      flex-direction: column;
      gap: 10px;
      h2 {
        font-size: 21px;
        font-weight: 500;
      }
    }
  }
}
// .inputContainer {
//   background-color: #f3f3f3;
//   height: 100px;
//   width: 100%;
//   display: flex;
//   gap: 50px;

//   input {
//     display: block;
//     width: 100%;
//     height: 100%;
//     background-color: #f3f3f3;
//     outline: none;
//     &:focus {
//       box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
//     }
//   }
//   div {
//     display: block;
//     align-self: center;
//     margin-left: 20px;
//     width: 120px;
//   }
// }

// .container {
//   display: flex;
//   flex-direction: column;
//   gap: 50px;
// }
