@import '../../../assets//styles/main.scss';

.btn {
	display: inline-block;
	border-radius: 10px;
	padding: 5px 10px;
	color: #000;
	text-transform: capitalize;
	font-size: 20px;
	letter-spacing: 0.15rem;
	transition: all 0.3s;
	position: relative;
	overflow: hidden;
	font-weight: 500;
	z-index: 1;
	background-color: rgb(238, 238, 238);
}

.btnLogged {
	color: rgb(255, 255, 255);
	border-radius: 10px;
	&:after {
		content: '';
		background-color: #000000;
		border-radius: 10px;
	}
	&:before {
		content: '';
		border-radius: 10px;
	}
}
